/*Profile Sidebar*/
.c-dashboard {
	&__profileSidebar {
		background-color: #ffffff;
		margin: 0px 0px 30px;
		box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.06);
	}
	&__profileWrapper {
		text-align: center;
		border-bottom: 1px solid #f0f0f0;
		padding: 30px 30px;
	}
	&__profileImage {
		display: block;
		margin-bottom: 15px;
		a {
			display: inline-block;
			border: 8px solid #f5f5f5;
			border-radius: 50%;
			img {
				width: 120px;
				height: 120px;
				object-fit: cover;
				border-radius: 50%;
			}
		}
	}
	&__profileContent {
		h3 {
			font-size: 18px;
			text-transform: capitalize;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
		h5 {
			color: #cccccc;
			font-size: 14px;
			font-weight: 400;
			margin-bottom: 8px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
	&__menuNav {
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				position: relative;
				border-bottom: 1px solid #f0f0f0;
				&:last-child {
					border-bottom: none;
				}
				a {
					display: inline-block;
					padding: 15px 20px;
					text-transform: capitalize;
					text-decoration: none;
					transition: all 0.3s ease-in-out;
					&:hover {
						color: $primary;
					}
				}
			}
		}
	}
}

/*Profile Data*/
.c-profileData {
	&__wrapper {
		background-color: #ffffff;
		box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.06);
		padding: 0px 20px 20px;
		button {
			display: flex;
			float: right;
			z-index: 2;
			color: #fff;
			transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
			padding: 10px 30px;
			border: none;
			border-radius: 10px;
			outline: none;
			white-space: nowrap;
			font-weight: 700;
			background-color: rgb(78, 194, 233);
			letter-spacing: 1px;
			margin: 0rem 1rem 0.5rem 0rem;
			&:hover {
				transform: scale(1.03);
				cursor: pointer;
			}
			&:active {
				outline: none;
				box-shadow: 0 0 0 1.5px rgb(78, 194, 233), 0 0 0 3px #fff;
			}
			&:focus {
				outline: none;
				box-shadow: 0 0 0 1.5px rgb(78, 194, 233), 0 0 0 3px #fff;
			}
		}
	}
	&__doctorProfile {
		display: flex;
		align-items: center;
	}
	&__doctorAvatar {
		width: 40px;
		height: 40px;
		margin-right: 15px;
		a {
			display: inline-block;
			img {
				width: 40px;
				height: 40px;
				object-fit: cover;
				border-radius: 50%;
			}
		}
	}
	&__doctorDetails {
		display: inline-block;
		h3 {
			font-size: 16px;
			text-transform: capitalize;
			margin: 0;
			font-weight: 500;
			margin-bottom: 5px;
		}
		h5 {
			text-transform: capitalize;
			font-size: 12px;
			margin: 0;
			font-weight: 400;
		}
	}
}

.ant-table-thead > tr > th {
	font-size: 16px;
	color: #000000;
	font-weight: 700;
}
