.c-dr-list{
    &__search-wrap{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0px;
        border-bottom: 1px solid #e8e8e8;
    }
}