@import "./doctor";
@import "./register";
@import "./login";
@import "./availablity";
@import "./doc-dashboard";
@import "./forgot-password";
@import './invoice';
@import './appointments';
@import './patients';
@import "./newdash";