.p-forgot {
  &__container {
    height: 100vh;
    margin: 0 auto;
  }

  &__left-col {
    background-image: url("/images/forgot-password.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 50%;
    margin: auto;
  }
}
